
#mainVisual{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
#mainVisual li{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}
#mainVisual .mainVisual01{
    background-image: url(../img/main-visual-01.jpg);   
}
#mainVisual .mainVisual02{
    background-image: url(../img/main-visual-02.jpg);   
}
#mainVisual .mainVisual03{
    background-image: url(../img/main-visual-03.jpg);   
}

#mainVisual .txtBox{
    color: #fff;
    text-align: center;
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
}
#mainVisual .txtBox .sub{
    font-size: 26px; 
}
#mainVisual .txtBox .main{
    display: block;
    font-size: 90px;
}

#mainVisual .down{
    color: #fff;
    position: absolute;
    bottom: 100px;
    left: 50%;
    z-index: 2;
    padding:25px;
    font-size: 25px;
    transform: translateX(-50%);
    border: 1px solid #fff;
}
#mainVisual .pagination {
    text-align: center;
    width:auto;
    position: absolute;
    top:50%;
    right:50px;
    bottom:auto;
    left:auto;
    z-index: 4;
    transform: translateY(-50%);
}
#mainVisual .pagination .swiper-pagination-bullet {
    display: block;
    width:20px;
    height: 20px;
    margin: 10px;
    opacity: 1;
    border:3px solid #fff;
    background-color: transparent;
    border-radius: 100px;
    outline: none;
    transition: 0.25s ease;
}
#mainVisual .pagination .swiper-pagination-bullet-active {
    height:80px;
    background-color: #fff;
}
#mainVisual .pagination i{
    color: #fff;
    font-size: 24px;
}
#mainVisual .pagination .btns .btnPlay{
    display: none;
}
#mainVisual .pagination .auto{
    display: inline-block;
}
.container{
    width: 1200px;
    margin: auto;
    position: relative;
}
#mainContents h2{
  font-size: 40px;
  font-weight: 200;  
}
#mainContents h3 span{
    font-size: 24px;
}
#mainContents h3 strong{  
    display: block;
    font-size: 70px;
    font-weight: 200;
}

#business {

}

.container {
    width:1200px;
    margin: auto;
    position: relative;
}

#mainContents {
    background-color: #fff;
    max-width:1900px;
    margin: auto;
}
#mainContents h2 {
    font-size: 40px;
    font-weight: 200;
}
#mainContents h3 span{
    font-size: 24px;
}
#mainContents h3 strong {
    font-size: 70px;
    display: block;
    font-weight: 200;
}

#mainContents .btnMore {
    display: inline-block;
    padding:20px 30px;
    border: 1px solid #000;
    margin-top: 50px;
}

#business {
    
}
#business .sectionTitle {
    padding: 100px 0 50px;
    
}
#business .txtBox {
    padding:100px 0 0;
}
#business .contents01 {
    position: relative;
    z-index: 2;
    
}
#business .contents01 .txtBox {
    float: left;
    padding-top: 0;
}
#business .contents01 video {
    float: right;
    margin-top: -300px;
}
#business .contents02 {
    position: relative;
    z-index: 1;
}
#business .contents02 .txtBox {
    color:#fff;
    float: right;
    margin-right: 200px;
}
#business .contents02 .imgBox {
    float: left;
}
#business .contents02 .bg {
    position: absolute;
    top:-300px;
    right:0;
    width:60%;
    height: 1300px;
    background: url("../img/main-business-03.jpg") no-repeat 50%;
    background-size: cover;
    /* transform: translate(200px,-40%); */
    z-index: -1;
}
#business .contents03 {
    height: 700px;
    background: url("../img/business-colorpaste-bg.jpg");
    background-size: cover;
    color:#fff;
}