#mainVisual {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#mainVisual li {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}
#mainVisual .mainVisual01 {
  background-image: url(../img/main-visual-01.jpg);
}
#mainVisual .mainVisual02 {
  background-image: url(../img/main-visual-02.jpg);
}
#mainVisual .mainVisual03 {
  background-image: url(../img/main-visual-03.jpg);
}

#mainVisual .txtBox {
  color: #fff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 300;
}
#mainVisual .txtBox .sub {
  font-size: 26px;
}
#mainVisual .txtBox .main {
  display: block;
  font-size: 90px;
}
#mainVisual .btnScroll{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    bottom: 200px;
}
#mainVisual .btnScroll svg{
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    animation: svgAni 3s linear 1s forwards infinite;
    position: relative;
}
#mainVisual .btnScroll i{
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 100px;
}
#mainVisual .pagination {
  text-align: center;
  width: auto;
  position: absolute;
  top: 50%;
  right: 50px;
  bottom: auto;
  left: auto;
  z-index: 4;
  transform: translateY(-50%);
}
#mainVisual .pagination .swiper-pagination-bullet {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
  opacity: 1;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 100px;
  outline: none;
  transition: 0.25s ease;
}
#mainVisual .pagination .swiper-pagination-bullet-active {
  height: 80px;
  background-color: #fff;
}
#mainVisual .pagination i {
  color: #fff;
  font-size: 24px;
}
#mainVisual .pagination .btns .btnPlay {
  display: none;
}
#mainVisual .pagination .auto {
  display: inline-block;
}

.container {
  width: 1200px;
  position: relative;
  margin: auto;
}

#mainContents {
  margin: auto;
  background-color: #fff;
  max-width: 1900px;
}
#mainContents h2 {
  font-size: 40px;
  font-weight: 200;
}
#mainContents h3 span {
  font-size: 24px;
}
#mainContents h3 strong {
  display: block;
  font-size: 70px;
  font-weight: 200;
  margin: 25px 0;
}

#mainContents .btnMore {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #000;
  margin-top: 50px;
}

#business .sectionTitle {
  padding: 100px 0 50px;
}
#business .txtBox {
  padding: 100px 0 0;
}
#business .contents01 {
  position: relative;
  z-index: 2;
}
#business .contents01 .txtBox {
  float: left;
  padding-top: 0;
}
#business .contents01 video {
  float: right;
  margin-top: -300px;
}
#business .contents02 {
  position: relative;
  z-index: 1;
}
#business .contents02 .txtBox {
  color: #fff;
  float: right;
  margin-right: 200px;
}
#business .contents02 .imgBox {
  float: left;
}
#business .contents02 .bg {
  width: 60%;
  height: 1300px;
  position: absolute;
  top: -300px;
  right: 0;
  /* transform: translate(200px,-40%); */
  z-index: -1;
  background: url("../img/main-business-03.jpg") no-repeat 50%;
  background-size: cover;
}
#business .contents03 {
  color: #fff;
  position: relative;
  background: url("../img/business-colorpaste-bg.jpg");
  background-size: cover;
}
#business .contents03 .container{
    height: 700px;
}
#business .contents03 .txtBox {
  position: absolute;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
}

#chemical{
    padding: 100px 0 0;
}
#chemical h2{
   font-size: 54px;
   margin-bottom: 50px;
   text-align: center;
   font-weight: 300;
}
#chemical .fList li{
    width: 380px;
    margin-left:30px;
}
#chemical .fList li:nth-child(1){
    margin-left:0 ;
}
#chemical .fList li img{
    width: 100%;
}
#chemical h3{
   font-size: 24px;
   margin: 20px 0;
   font-weight: 500;
}

/*  */
#about {
    text-align: center;
}
#about .gray{
    padding: 100px 0;
    background-color: #f8f8f8;
}
#about h2{  
    font-size: 54px;
    font-weight: 300;
}
#about .gray .quickMenu .fList li{
    width: 33.33%;
    border-left: 1px solid #888;
}
#about .gray .quickMenu .fList li:nth-child(1){
    border-left: 0;
}

#about .gray .quickMenu  .fList li h3{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0 20px;
}
#about .gray .quickMenu .fList li p{
    line-height: 1.5;
    word-break: keep-all;
}
#about .contentBox .fList{
    margin-top: 100px;
}
#about .contentBox .fList li{
    width: 50%;
    height: 729px;
    position: relative;
}
#about .contentBox .fList .man{
    position: absolute;
    top: -40px;
}
#about .contentBox .fList li .txtBox{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;
    line-height: 1.5;
}
#about .contentBox .fList li:nth-child(1){
    background: #e7e7e5; 
}


#about .contentBox .fList li .txtBox p{
    font-size: 55px;
    font-weight: 200;
    margin-top: 20px; 
}
#about .recruit{
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
}
#about .recruit .linkBox{
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
}
#about .recruit h3{
   font-size: 55px;
   color: #fff;
   height: 30%;
   margin-top: 30%;
   margin-left: 50px;
}







#about li svg{
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    animation: svgAni 3s linear 1s forwards;
}
@keyframes svgAni{    
    100%{
        stroke-dasharray: 0;
    }
}