.a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 530px;
}
.a span {
  display: block;
  background-color: rgb(209, 3, 228);
  height: 15px;
  width: 500px;
  margin: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.a span:nth-child(2){
    transform: rotate(90deg); 
    transform-origin: 0 0; 
}
.a span:nth-child(3){
    transform: rotate(-90deg);
    transform-origin: 100% 0; 
}
.a span:nth-child(4){
    transform: translateY(485px); 
}
.a span:nth-child(5){
    display: none;
}
.a span:nth-child(6){
    display: none;
}

