body {
  font-family: "Gelasio", "Noto Sans KR", serif;
  font-size: 10px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
  text-decoration: overline;
}
a{
    text-decoration: none;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin: 50px 0;
}
input[type="text"] {
  border: 2px solid #f00;
  width: 200px;
  height: 40px;
  color: #000;
}
.txt {
  color: #f00 !important;
width: 400px;
border: 1px solid #f00;
padding: 40px;
text-align: justify;
}
.btn {
  display: inline-block;
  width: 100px;
  height: 40px;
  border: solid 1px #000;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}
.song {
  font-size: 12px;
  padding: 3vw;
}
.song span {
  font-size: 1.5rem;
}
.song strong {
  font-size: 2rem;
}
