.poster {
  background-image: url("../imgs/css02.png");
  background-repeat: no-repeat;
  width: 726px;
  height: 1000px;
  /* background-color: #f00; */
}
/* 블럭의 높이는 따로 설정 하지않으면 
contents의 높이를 따라간다. */
h1 {
  padding: 40px;
}
h1 .sub {
  font-size: 24px;
  /* padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px ;
  padding-bottom: 10px; */
  padding: 10px 15px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #000;
  display: inline-block;
}
h1 .main {
  font-size: 100px;
  display: block;
  font-weight: bold;
}
.infoList li {
  margin-bottom: 15px;
}
.infoList dt {
  color: #fff;
  background-color: #000;
  display: inline-block;
  width: 65px;
  text-align: center;
  padding: 5px;
}
.infoList dd {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}
ul {
  padding-left: 40px;
}
