$base_color:#333;
$main_color:#0c5a49;
$max_width:1720px;
$auto_width:1280px;

@mixin verticalCenter($h) {
    height: $h;
    line-height: $h;
}

@mixin center {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
@mixin bottomLine($w:100%,$h:1px,$bg_color:$base_color) {
    content: '';
    display: block;
    width:$w;
    height: $h;
    background-color: $bg_color;
    position: absolute;
    left:0;
    bottom: 0;
}
