.headerTxt{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 50px;
}
.headerTxt strong{
    color: #bf0c14;
    font-weight: 700;
}
.txt p{
    margin-bottom: 20px;
    color: #666;
    word-break: keep-all;
    text-align: justify;
}
.greetingBox{
    background-image: url(../imgs/greetingImg.jpg);
    background-repeat: no-repeat;
    padding-left: 600px;
}