html {
  font-size: 16px;
}
body {
  font-family: "Lato", "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.5;
  /* background-image: url("../imgs/main_visual.jpg"); */
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.5;
}
#header {
  /* background-color: rgba(0,0,0,0.2); */
  color: #fff;
  height: 90px;
  border-bottom: 1px solid #fff;
  position: absolute;
z-index: 9999;
  width: 100%;
}
#logo {
  position: absolute;
  left: 100px;
  top: 24px;
}
#logo a {
  display: block;
}
#gmb .list {
  text-align: center;
}
#gmb .list > li:hover .depth02 {
  display: block;
}
#gmb .list > li {
  display: inline-block;
  vertical-align: top;
}
#gmb .list .depth01 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  display: block;
  padding: 0 50px;
  height: 90px;
  line-height: 90px;
  position: relative;
  /* transition: all 0.5s ease; */
}
#gmb .list .depth01::after {
  content: "";
  position: absolute;
  display: block;
  /* width: 80%; */
  height: 2px;
  left: 15px;
  right: 15px;
  background-color: #fff;
  transform: scale(0);
  transition: 0.25s ease;
}
#gmb .list > li:hover .depth01::after {
  transform: scale(1);
}
/* #gmb .list .depth02 li{
    display: block;
} */
#gmb .list > li:hover .depth01 {
  background-color: #bf0c14;
  color: #fff;
  /* transition: all 0.5s; */
}

#gmb .list .depth01:hover + .depth02 {
  display: block;
}
#gmb .list .depth02 {
  display: none;
  background-color: #bf0c14;
  color: #fff;
  padding: 30px 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
#gmb .list .depth02 a {
  display: block;
  padding: 5px 0;
  border-radius: 4px;
}
#gmb .list .depth02 a:hover {
  background-color: rgb(75, 1, 1);
}
#header .utilMenu {
  position: absolute;
  right: 50px;
  top: 0px;
  padding-top: 22px;
}
#header .utilMenu a {
  display: inline-block;
  letter-spacing: -0.025em;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 100px;
  transition: 0.5s ease;
}
#header .utilMenu .btnAll {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: relative;
  vertical-align: middle;
  outline: none;
}
#header .utilMenu .btnAll span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 10px;
  transition: 0.25s ease;
}
#header .utilMenu .btnAll span:nth-child(1) {
  top: 14px;
}
#header .utilMenu .btnAll span:nth-child(2) {
  top: 24px;
}
#header .utilMenu .btnAll span:nth-child(3) {
  top: 34px;
}

#header .utilMenu .btnAll.open span:nth-child(1) {
  top: 24px;
  transform: rotate(45deg);
}
#header .utilMenu .btnAll.open span:nth-child(2) {
  top: 24px;
  opacity: 0;
}
#header .utilMenu .btnAll.open span:nth-child(3) {
  top: 24px;
  transform: rotate(-45deg);
}
#header .utilMenu a:hover {
  background-color: #bf0c14;
  border-color: #bf0c14;
  transition: 0.5s ease;
}
.subVisual {
  background-image: url(../imgs/subVisual_01.jpg);
  color: #fff;
  text-align: center;
  height: 350px;
  overflow: hidden;
}
.subTitle {
  text-transform: capitalize;
  margin-top: 180px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.contentsTitle {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}
.contentsTitle::after {
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: #bf0c14;
  margin: 30px auto;
}
/* 화면 비율 조절 */

.subimgTitle01 {
    background-image: url(../imgs/summary_01.jpg); 
    background-position: 100% 0;
    background-repeat: no-repeat;
}
.subimgTitle {
  background-color: #bf0c14;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
  color: #fff;
  width: 50%;
}

.subimgContent {
  font-size: 20px;
  font-weight: 300;
}
.subimgTitle01 strong {
  font-weight: 500;
}
.subimgTitle01 .subimgTitle02::after {
  content: "";
  display: block;
  height: 2px;
  width: 80px;
  background-color: #fff;
  margin: 10px auto;
}
.subtitleTxt{
    font-size: 40px;
    font-weight: 300;
    margin-top: 40px;
}
.subtitleTxt span{
    font-weight: 400;
}
.subtitleTxt strong{
    font-weight: 400;
    color:#bf0c14;
}
#summary{
    text-align: center;
}