.poster {
  background-image: url(../imgs/css02.png);
  width: 900px;
  height: 880px;
  padding-left: 100px;
  padding-top: 120px;
  color: #8eaed4;
  
}

h1 .sub {
  font-size: 17px;
  display: inline-block;
  margin-bottom: 25px;
  letter-spacing:0.27em;
  font-family: "THELuxGoM";
  
}

h1 .main {
  display: block;
  font-size: 80px;
  line-height: 1.03;
  margin-bottom: 25px;
  font-family: "THELuxGoL";
  letter-spacing:-0.065em;
}
strong {
  font-family: "THELuxGoEB";
}
.content {
    width: 350px;
  font-size: 5px;
  color: #000;
  margin-bottom: 25px;
  line-height: 2.0;
  letter-spacing:0.1em;
  font-family: "THELuxGoB";
}
.main_list {
  background-image: url(../imgs/img01.png);
  background-repeat: no-repeat;
  padding-top:35px;
}

li{
    background-image: url(../imgs/img02.png);
    background-position:0, 10px ;
    background-repeat: no-repeat;
    font-size: 29px;
    line-height: 1.5;
    padding-left: 25px;
    margin-left: 115px;
    font-family: "THELuxGoM";
}

